<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="../static/css/style.css">
    <!--Only for demo purpose - no need to add.-->
    <link rel="stylesheet" href="../static/css/demo.css" />
    <body>
        <div class="container">
           <img src="../static/img/Stjoseph.jpeg" alt="" width="1000px" ></a><br><hr>
            <div class="row">
                <div class="col-lg-8  offset-lg-2">
                    <a href="/webcam" id="contBtn">New visitor</a>
                    <a href="/search" id="contBtn">Old visitor</a>
                 </div>
                </div>
            </div> <!-- <h2 class="mt-5">WEBCAM</h2> -->
</html>